<!DOCTYPE html>
<html>
  <head>
    <title>Note {{ note_name }} | Hansom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='notes.css') }}">
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 5%;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" title="Back home">Hansom</a>
        </div>
        <ul class="nav navbar-nav">
          <li onclick="print()" title="print"><a href="#"><span class="glyphicon glyphicon-print"></span></a></li>
          <li id="undo" title="undo"><a href="#"><span class="glyphicon glyphicon-menu-left"></span></a></li>
          <li id="redo" title="redo"><a href="#"><span class="glyphicon glyphicon-menu-right"></span></a></li>
          <li id="save" title="save"><a href="#"><span class="glyphicon glyphicon-save"></span></a></li>
          <li id="bold" title="bold"><a href="#"><span class="glyphicon glyphicon-bold"></span></a></li>
          <li id="italic" title="italic"><a href="#"><span class="glyphicon glyphicon-italic"></span></a></li>
          <li id="underline" title="underline"><a href="#"><span class="glyphicon glyphicon-text-width"></span></a></li>
          <li id="leftAlign" title="left align"><a href="#"><span class="glyphicon glyphicon-align-left"></span></a></li>
          <li id="centreAlign" title="centre align"><a href="#"><span class="glyphicon glyphicon-align-center"></span></a></li>
          <li id="rightAlign" title="right align"><a href="#"><span class="glyphicon glyphicon-align-right"></span></a></li>
          <li id="fullAlign" title="full align"><a href="#"><span class="glyphicon glyphicon-align-justify"></span></a></li>
          <li class="dropdown" title="font size"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-text-size"></span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="largeFont" style="font-size:25px;"><a href="#">Large</a></li>
              <li id="regularFont" style="font-size:16px;"><a href="#">Regular</a></li>
              <li id="smallFont" style="font-size:12px;"><a href="#">Small</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <script src="{{  url_for('static',filename='notes.css') }}"></script>

    <div id="note" contenteditable="true" style="height: 1000px;">
        
    </div>
  </body>
</html>