<!DOCTYPE html>
<html>
  <head>
    <title>Note {{ note_name }} | Hansom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      .navbar{
        margin-bottom:0px;
      }
      #note{
        background-color:#eee;
        position:relative;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        z-index:1000;
      }

    </style>
  </head>
  
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" title="Back home">Hansom</a>
        </div>
        <ul class="nav navbar-nav">
          <li onclick="print()" title="print"><a href="#"><span class="glyphicon glyphicon-print"></span></a></li>
          <li id="undo" title="undo"><a href="#"><span class="glyphicon glyphicon-menu-left"></span></a></li>
          <li id="redo" title="redo"><a href="#"><span class="glyphicon glyphicon-menu-right"></span></a></li>
          <li id="save" title="save"><a href="#"><span class="glyphicon glyphicon-save"></span></a></li>
        </ul>
      </div>
    </nav>
    <script>
      $("#undo").click(function(){
        
      })
      $(window).keypress(function(event) {
        if (!(event.which == 115 && event.ctrlKey) && !(event.which == 19)) return true;
        alert("Ctrl-S pressed");
        event.preventDefault();
        return false;
      });
    </script>
    <div id="note" contenteditable="true">
        
    </div>
  </body>
</html>