<!DOCTYPE html>
<html>
  <head>
    <title>Note {{ note.name }} | Hansom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='notes.css') }}">
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 5%;">
      <div class="container-fluid">
        <div class="navbar-header">
          {% if note.name %}
          <a class="navbar-brand" href="#" title="Back home" contenteditable = "true" id="noteName">{{ note.name }}</a>
          {% else %}
          <a class="navbar-brand" href="#" title="Back home" contenteditable="true" id="noteName">Hansom</a>
          {% endif %}
        </div>
        <ul class="nav navbar-nav">
          <li id="open" title="open another note"><a href="#"><span class="glyphicon glyphicon-open"></span></a></li>
          <li id="new" title="create a new note"><a href="#"><span class="glyphicon glyphicon-new-window"></span></a></li>
          <li onclick="print()" title="print"><a href="#"><span class="glyphicon glyphicon-print"></span></a></li>
          <li id="undo" title="undo"><a href="#"><span class="glyphicon glyphicon-menu-left"></span></a></li>
          <li id="redo" title="redo"><a href="#"><span class="glyphicon glyphicon-menu-right"></span></a></li>
          <li id="save" title="save"><a href="#"><span class="glyphicon glyphicon-save"></span></a></li>
          <li id="bold" title="bold"><a href="#"><span class="glyphicon glyphicon-bold"></span></a></li>
          <li id="italic" title="italic"><a href="#"><span class="glyphicon glyphicon-italic"></span></a></li>
          <li id="underline" title="underline"><a href="#"><span class="glyphicon glyphicon-text-width"></span></a></li>
          <li id="leftAlign" title="left align"><a href="#"><span class="glyphicon glyphicon-align-left"></span></a></li>
          <li id="centreAlign" title="centre align"><a href="#"><span class="glyphicon glyphicon-align-center"></span></a></li>
          <li id="rightAlign" title="right align"><a href="#"><span class="glyphicon glyphicon-align-right"></span></a></li>
          <li id="fullAlign" title="full align"><a href="#"><span class="glyphicon glyphicon-align-justify"></span></a></li>
          <li class="dropdown" title="font size"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-text-size"></span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="largeFont" style="font-size:25px;"><a href="#">Large</a></li>
              <li id="regularFont" style="font-size:16px;"><a href="#">Regular</a></li>
              <li id="smallFont" style="font-size:12px;"><a href="#">Small</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <script src="{{  url_for('static',filename='notes.css') }}"></script>

    <div id="note" contenteditable="true" style="height: 1000px;">
        
    </div>
    <script>
      
      $("#undo").click(function(){
        try{
          document.execCommand("undo"); 
        }catch(err){
          alert("Your browser does not support undo! Use control + Z.");
        }
      })
      $("#redo").click(function(){
        try{
          document.execCommand("redo");
        }catch(err){
          alert("Your browser does not support redo! Use control + Y.");
        }
      });
      $("#bold").click(function(){
        try{
          document.execCommand("bold"); 
        }catch(err){
          alert("Your browser does not support bold! Use control + B.");
        }
      })
      $("#italic").click(function(){
        try{
          document.execCommand("italic"); 
        }catch(err){
          alert("Your browser does not support undo! Use control + I.");
        }
      })
      $("#underline").click(function(){
        try{
          document.execCommand("underline"); 
        }catch(err){
          alert("Your browser does not support underline! Use control + U.");
        }
      })
      $("#leftAlign").click(function(){
        try{
          document.execCommand("justifyleft"); 
        }catch(err){
          alert("Your browser does not support alignments!");
        }
      })
      $("#centreAlign").click(function(){
        try{
          document.execCommand("justifyCenter"); 
        }catch(err){
          alert("Your browser does not support alignments!");
        }
      })
      $("#rightAlign").click(function(){
        try{
          document.execCommand("justifyRight"); 
        }catch(err){
          alert("Your browser does not support alignments!");
        }
      })
      $("#fullAlign").click(function(){
        try{
          document.execCommand("justifyFull"); 
        }catch(err){
          alert("Your browser does not support alignments!");
        }
      })
      $("#largeFont").click(function(){
        try{
          document.execCommand("fontSize", false, "6");
          var fontElements = document.getElementsByTagName("font");
          for (var i = 0, len = fontElements.length; i < len; ++i) {
              if (fontElements[i].size == "6") {
                  fontElements[i].removeAttribute("size");
                  fontElements[i].style.fontSize = "25px";
              }
          }
        }catch(err){
          alert("Your browser does not support different font sizes!");
        }
      });
      $("#regularFont").click(function(){
        try{
          document.execCommand("fontSize", false, "4");
          var fontElements = document.getElementsByTagName("font");
          for (var i = 0, len = fontElements.length; i < len; ++i) {
            if (fontElements[i].size == "4") {
               fontElements[i].removeAttribute("size");
               fontElements[i].style.fontSize = "16px";
            }
          }
        }catch(err){
          alert("Your browser does not support different font sizes!");
        }
      });
      $("#smallFont").click(function(){
        try{
          document.execCommand("fontSize", false, "2");
          var fontElements = document.getElementsByTagName("font");
          for (var i = 0, len = fontElements.length; i < len; ++i) {
            if (fontElements[i].size == "2") {
               fontElements[i].removeAttribute("size");
               fontElements[i].style.fontSize = "12px";
            }
          }
        }catch(err){
          alert("Your browser does not support different font sizes!");
        }
      });
      $(document).on('keydown', function(e){
          if(e.ctrlKey && e.which === 83){ // Check for the Ctrl key being pressed, and if the key = [S] (83)
              e.preventDefault();
              return false;
          }
      });
      $("#save").click(function(){
          contents = $('#note').val();
          name = $('#noteName').val();
          $.ajax({
              url: '/ajax/saveNote',
              data: JSON.stringify({"name":name,"contents":contents},null,"\t"),
              type: 'POST',
              success: function(response) {
                  console.log(response);
              },
              error: function(error) {
                  console.log(error);
              }
          });
      });
    </script>
    <div id="note" name="noteContents">
        {{ note.contents }}
    </div>
  </body>
</html>